
script{
    display: none !important;
}

*{
    font-family: 'Open Sans', sans-serif !important;
    color: #002801;
}

::selection{ background-color: #e8e8e8 !important;}

/* Colored */
.colored, .colored-hover:hover{ color:#002801 !important; }
.bg-colored, .bg-colored-hover:hover{background-color:#002801 !important; }
.border-colored, .border-colored-hover:hover{ border-color:#002801 !important; }

/* Colored1 */
.colored1, .colored1-hover:hover{ color:#1b8b00 !important; }
.bg-colored1, .bg-colored1-hover:hover{ background-color:#1b8b00 !important; }
.border-colored1, .border-colored1-hover:hover{ border-color:#1b8b00 !important; }

/* Colored2 */
.colored2, .colored2-hover:hover{ color:#a2d240 !important; }
.bg-colored2, .bg-colored2-hover:hover{ background-color:#a2d240 !important; }
.border-colored2, .border-colored2-hover:hover{ border-color:#a2d240 !important; }

/* Colored3 */
.colored3, .colored3-hover:hover{ color:#d4e690 !important; }
.bg-colored3, .bg-colored3-hover:hover{ background-color:#d4e690 !important; }
.border-colored3, .border-colored3-hover:hover{ border-color:#d4e690 !important; }

/* Colored4 */
.colored4, .colored4-hover:hover{ color:#eaf1fa !important; }
.bg-colored4, .bg-colored4-hover:hover{ background-color:#eaf1fa !important; }
.border-colored4, .border-colored4-hover:hover{ border-color:#eaf1fa !important; }


.no-padding{padding:0 !important;}
.no-pt{ padding-top:0 !important; }
.no-pl{ padding-left:0 !important; }
.no-pr{ padding-right:0 !important; }
.no-pb{ padding-bottom:0 !important; }
.no-px{ padding-left:0 !important; padding-right: 0 !important; }

.no-margin{ margin:0 !important; }
.no-mt{ margin-top:0 !important; }
.no-ml{ margin-left:0 !important; }
.no-mr{ margin-right:0 !important; }
.no-mb{ margin-bottom:0 !important; }
.no-mx{ margin-left:0 !important; margin-right:0 !important; }
.no-margin-im{margin:0 !important;}
/* Paddings */
.mini-py{ padding-top:5px !important; padding-bottom:5px !important; }
.mini-px{ padding-left:5px !important; padding-right:5px !important; }
.mini-pt{ padding-top:5px !important; } .mini-pr{ padding-right:5px !important; } .mini-pb{ padding-bottom:5px !important; } .mini-pl{ padding-left:5px !important; }
.xxs-py{ padding-top:15px !important; padding-bottom:15px !important; }
.xxs-px{ padding-left:15px !important; padding-right:15px !important; }
.xxs-pt{ padding-top:15px !important; } .xxs-pr{ padding-right:15px !important; } .xxs-pb{ padding-bottom:15px !important; } .xxs-pl{ padding-left:15px !important; }
.xs-py{ padding-top:30px !important; padding-bottom:30px !important; }
.xs-px{ padding-left:30px !important; padding-right:30px !important; }
.xs-pt{ padding-top:30px !important; } .xs-pr{ padding-right:30px !important; } .xs-pb{ padding-bottom:30px !important; } .xs-pl{ padding-left:30px !important; }
.sm-py{ padding-top:50px !important; padding-bottom:50px !important; }
.sm-px{ padding-left:50px !important; padding-right:50px !important; }
.sm-pt{ padding-top:50px !important; } .sm-pr{ padding-right:50px !important; } .sm-pb{ padding-bottom:50px !important; } .sm-pl{ padding-left:50px !important; }
.py{ padding-top:100px !important; padding-bottom:100px !important; }
.px{ padding-left:100px !important; padding-right:100px !important; }
.pt{ padding-top:100px !important; } .pr{ padding-right:100px !important; } .pb{ padding-bottom:100px !important; } .pl{ padding-left:100px !important; }
.md-py{ padding-top:150px !important; padding-bottom:150px !important; }
.md-px{ padding-left:150px !important; padding-right:150px !important; }
.md-pt{ padding-top:150px !important; } .md-pr{ padding-right:150px !important; } .md-pb{ padding-bottom:150px !important; } .md-pl{ padding-left:150px !important; }
.lg-py{ padding-top:200px !important; padding-bottom:200px !important; }
.lg-px{ padding-left:200px !important; padding-right:200px !important; }
.lg-pt{ padding-top:200px !important; } .lg-pr{ padding-right:200px !important; } .lg-pb{ padding-bottom:200px !important; } .lg-pl{ padding-left:200px !important; }
.xl-py{ padding-top:250px !important; padding-bottom:250px !important; }
.xl-px{ padding-left:250px !important; padding-right:250px !important; }
.xl-pt{ padding-top:250px !important; } .xl-pr{ padding-right:250px !important; } .xl-pb{ padding-bottom:250px !important; } .xl-pl{ padding-left:250px !important; }
.xxl-py{ padding-top:350px !important; padding-bottom:350px !important; }
.xxl-px{ padding-left:350px !important; padding-right:350px !important; }
.xxl-pt{ padding-top:350px !important; } .xxl-pr{ padding-right:350px !important; } .xxl-pb{ padding-bottom:350px !important; } .xxl-pl{ padding-left:350px !important; }
/* Margins */
.mini-my{ margin-top:5px !important; margin-bottom:5px !important; }
.mini-mx{ margin-left:5px !important; margin-right:5px !important; }
.midi-mt{ margin-top:10px !important; }
.mini-mt{ margin-top:5px !important; } .mini-mr{ margin-right:5px !important; } .mini-mb{ margin-bottom:5px !important; } .mini-ml{ margin-left:5px !important; }
.xxs-my{ margin-top:15px !important; margin-bottom:15px !important; }
.xxs-mx{ margin-left:15px !important; margin-right:15px !important; }
.xxs-mt{ margin-top:15px !important; } .xxs-mr{ margin-right:15px !important; } .xxs-mb{ margin-bottom:15px !important; } .xxs-ml{ margin-left:15px !important; }
.xs-my{ margin-top:30px !important; margin-bottom:30px !important; }
.xs-mx{ margin-left:30px !important; margin-right:30px !important; }
.xs-mt{ margin-top:30px !important; } .xs-mr{ margin-right:30px !important; } .xs-mb{ margin-bottom:30px !important; } .xs-ml{ margin-left:30px !important; }
.sm-my{ margin-top:50px !important; margin-bottom:50px !important; }
.sm-mx{ margin-left:50px !important; margin-right:50px !important; }
.sm-mt{ margin-top:50px !important; } .sm-mr{ margin-right:50px !important; } .sm-mb{ margin-bottom:50px !important; } .sm-ml{ margin-left:50px !important; }
.my{ margin-top:100px !important; margin-bottom:100px !important; }
.mx{ margin-left:100px !important; margin-right:100px !important; }
.mt{ margin-top:100px !important; } .mr{ margin-right:100px !important; } .mb{ margin-bottom:100px !important; } .ml{ margin-left:100px !important; }
.md-my{ margin-top:150px !important; margin-bottom:150px !important; }
.md-mx{ margin-left:150px !important; margin-right:150px !important; }
.md-mt{ margin-top:150px !important; } .md-mr{ margin-right:150px !important; } .md-mb{ margin-bottom:150px !important; } .md-ml{ margin-left:150px !important; }
.lg-my{ margin-top:200px !important; margin-bottom:200px !important; }
.lg-mx{ margin-left:200px !important; margin-right:200px !important; }
.lg-mt{ margin-top:200px !important; } .lg-mr{ margin-right:200px !important; } .lg-mb{ margin-bottom:200px !important; } .lg-ml{ margin-left:200px !important; }
.xl-my{ margin-top:250px !important; margin-bottom:250px !important; }
.xl-mx{ margin-left:250px !important; margin-right:250px !important; }
.xl-mt{ margin-top:250px !important; } .xl-mr{ margin-right:250px !important; } .xl-mb{ margin-bottom:250px !important; } .xl-ml{ margin-left:250px !important; }
.xxl-my{ margin-top:350px !important; margin-bottom:350px !important; }
.xxl-mx{ margin-left:350px !important; margin-right:350px !important; }
.xxl-mt{ margin-top:350px !important; } .xxl-mr{ margin-right:350px !important; } .xxl-mb{ margin-bottom:350px !important; } .xxl-ml{ margin-left:350px !important; }

/* Split the screen */

.split-left{
    height: calc(100% - 80px);
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* background-image: url("images/left-bg.png"); */
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.split-right{
    height: calc(100% - 80px);
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    /* padding: 10px; */
}

.timeline{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: fuchsia;
}

.gray{
    color: #e8e8e8;
}

.header{
    position: relative;
    padding: 15px 10px;
    height: 70px;
    width: 100%;
}

.project-name{
    color:#002801;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 10px;
}

.logo{
    height: 40px;
}

.arrow-down{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1b8b00;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
}

.nav-item{
    color: #1b8b00;
    font-weight: 700;
    vertical-align: middle;
    margin: 0 10px;
}

.nav-item a{
    color: #1b8b00;
}

.nav-item a:hover{
    color: #002801;
}

.datepicker-container{
    width: 90%;
    margin: auto;
}

.typepicker-container{
    width: 90%;
    margin: auto;
}

.text-1{
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.8px;
}

.label{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.8px;
    margin: 0;
}

.devider-gray{
    border: 2px solid #bebebe;
    display: inline-block;
    width: 30px;
    margin: 0;
}

.devider-green{
    border: 2px solid #1b8b00;
    display: inline-block;
    width: 30px;
    margin: 0;
}

.datepicker-here:focus{
    outline-color: #0000;
    border-radius: 10px;
    border: 2px solid #1b8b00;
}

.datepicker-here{
    border: 1px solid #bebebe;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    font-size: 16px;
    color: #eaf1fa;
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: -0.8px;
    font-weight: 500;
    background-image: linear-gradient(to top right, #a2d240, #1b8b00 );
}

.datepicker-here:hover{
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
}

.classic_checkbox{
    width: 110px;
    font-size:14px;
    height: 30px;
    margin:6px;
    position: relative;
    background: transparent;
    display: inline-block;
}

.classic_checkbox label{
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    border-radius: 5px;
    border:1px solid #ccc;
    line-height: 28px;
    text-indent: 36px;
    white-space: nowrap;
}

.classic_checkbox label:after{
    content: 'L';
    width: 18px;
    color:white;
    text-align: center;
    line-height: 16px;
    font-weight: 900;
    transform:rotateY(180deg) rotateZ(-45deg);
    height: 18px;
    position: absolute;
    text-indent: 0;
    top: 4px;
    left: 3px;
    opacity: 0;
}

.classic_checkbox input[type=checkbox]{
    visibility: hidden;
}

.classic_checkbox input[type=checkbox]:checked + label:after{
    opacity: 1;
}

.classic_checkbox input[type=checkbox]:checked + label,
.classic_checkbox:hover label{
    border:1px solid #1b8b00;
}

.classic_checkbox input[type=checkbox]:checked + label{
    background:#1b8b00;
}

.classic_checkbox.radio label{
    border-radius:100%;
    text-indent: 35px;
    line-height: 25px;
}

.classic_checkbox input[type=radio]{
    visibility: hidden;
    display: none;
}

.classic_checkbox input[type=radio]:checked + label:after{
    opacity: 1;
}

.classic_checkbox input[type=radio]:checked + label,
.classic_checkbox:hover label{
    border:1px solid #1b8b00;
}

.classic_checkbox input[type=radio]:checked + label{
    background:#1b8b00;
}

.classic_checkbox.over{
    width: 60px;
    text-align: center;
}

.classic_checkbox.over label{
    position: relative;
}
